.logo {
  width: 145px;
  height: 100%;

  margin-bottom: 5px;
}

.logo-bar {
  background-color: #19181c;
}

.navigation-bar {
  height: 25px;
  line-height: 25px;

  background-color: #e2001a;
  color: black;
}

.navigation-link.selected-link {
  background-color: #4e6711;
}

.navigation-link:hover {
  background-color: #cc0018
}

.navigation-link.selected-link:hover {
  background-color: #43580e;
}